<link rel="stylesheet" href="/css/sign.css">
<div class="mainContainer ">

    
    <div class="formInput">
        <h1 class="sign-up"> SIGN UP </h1>
        <form method="POST" action="/users/create-session" >
            <input type="email" name="email" placeholder="Enter Your Email" required><br>
            <input type="password" name="password" placeholder="Enter Your Password" required><br>
            
            <div class= 'buttons'>
                <div class="forgetPassword"><a href="/users/forgetPassword"> Forget Password </a></div>
                <div class = 'submitButtons'><button type="submit">Sign In</button></div>
                
            </div>

            <div class="extraStuff">
                <small> Don't have account ?</small>
                <a href="/users/sign-up"> Register Here</a>
            </div>
    </div>
</div> 